*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 60%;
}
footer{
    padding: 1rem;
    background-color: rgb(218, 233, 233);
}
footer p{
    display: grid;
    place-content: center;
    color: rgb(61, 61, 150);
}
 .footer-container{
     display: grid;
     grid-template-columns: 100px 100px 100px 100px;
     place-content: center;
 }


